@model CartPageVM
@{
    ViewBag.Title = "CartPage";
}

@Html.ActionLink("Alişverişe Devammm ","ProductList",null , new {@class="btn btn-primary"})


@if (ViewBag.SepetBos != null)
{
    <h1 style="color:lightsalmon">ViewBag.SepetBos</h1>
}
else
{
    <div class="card card-body">
        Ödeminiz Gereken Mevcut Toplam Tutar @Model.Cart.TotalPrice
    </div>
    <table>
        <thead >
            <tr>
                <th>Urun İsmi</th>
                <th>Urun Fiyati</th>
                <th>Urun Adedi</th>
                <th>Ara Fiyat</th>
            </tr>
        </thead>
        <tbody >
            @foreach (CartItem item in Model.Cart.Sepetim)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.Amount</td>
                    <td>@item.SubTotal</td>
                    <td>@Html.ActionLink("-", "DeleteFromCart", new {id = item.ID}, new {@class="btn btn-primary"})</td>
                    <td>@Html.ActionLink("+","IncreaseAmount",new {id = item.ID},new {@class ="btn btn-success"})</td>
                    <td>@Html.ActionLink("Booom","DestroyFromCart",new {id = item.ID},new {@class="btn btn-success"})</td>
                </tr>
            }
        </tbody>
    </table>
}
